.body {
    background-color: black;
}

.flexcontainer {
    display: flex;
    flex-direction:row;
}

.box1 {
    background-color:gold;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    height: 100px;margin: 10px;
    padding: 5px;
}
.box2 {
    background-color:cornflowerblue;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    height: 100px;margin: 10px;
    padding: 5px;
}
.box3 {
    background-color:chartreuse;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;margin: 10px;
    padding: 5px;
}
.box4 {
    background-color:deeppink;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    height: 100px;margin: 10px;
    padding: 5px;
}

.box5 {
    background-color:darkseagreen;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    height: 100px;margin: 10px;
    padding: 5px;
}

.box6 {
    background-color:cornflowerblue;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    height: 100px;margin: 10px;
    padding: 5px;
}